<header>
    <h1 class="hed_title hed"><%= link_to 'Instagram-Clone', '/pictures' %></h1> 
</header>
<div id="main">
  <div class="col-xs-12 main-cent">
    <div class="col-md-5 topsbox">
    </div>
    <div class="col-md-4 pic_new">

        <%= form_with(model: @picture, local: true) do |form| %>
        <div class="picture_title">
          <%= form.label :image %>
          <%= form.file_field :image %>
        </div>
        <div class="picture_title">
          <%= form.label :content %>
          <%= form.text_field :content %>
        </div>
        <%= form.submit %>
      <% end %>
      
            
      
    </div>
        
    <div class="col-md-3 topsbox">
      
    </div>
  </div>

</div>