<% if logged_in? %>

<header>
    <h1 class="hed_title hed"><%= link_to 'Instagram-Clone', '/pictures' %></h1> 
</header>


<%= render 'form' %>


<% else %>
<header class="tops_hed">
</header>

<div id="main">
  <div class="col-xs-12 main-cent tops">
    <div class="col-md-2 topsbox">
      
    </div>
    <div class="col-md-4 topsbox leftside">
        <img src="../assets/tops_img.jpg">
    </div>
    <div class="col-md-4 topsbox right_side">
        <h1>Instagram-Clone</h1>
        <h3>Let's check out friends photos and videos.</h3>
        <br >
        <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
        <table>  
          
          <tr>
            <td><%= f.label :email %></td>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr>
            <td><%= f.label :password %></td>
            <td><%= f.password_field :password %></td>
          </tr>
            
        </table>
        <br >
        <%= f.submit "Log in" %>
        <% end %>
        <br >
        <br >
        <p>アカウント作りますか？<%= link_to 'Sign Up', '/users/new' %></p>

        
    </div>
    <div class="col-md-2 topsbox"></div>
  </div>
</div>
<% end %>